@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #080808;
    color: #fff;
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/sergey-zolkin-_UeY8aTI6d0-unsplash.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    background-position: top center;
    z-index: 1;
}
#header::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color:black;
    opacity: .7;
    z-index: -1;
}
.container{
    padding: 10px 9%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    height: 10%;
    width: 100%;
    padding: 0px 9%;
    border-bottom: 2px solid white;
    background-color: #080808;
    overflow: hidden;
}
.logo a{
    font-size: 35px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
}
.logo a span{
    color: #ff1744;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;

}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff1744;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 13%;
    font-size: 30px;
}
.header-text h3{
    letter-spacing: 8px;
}
.header-text h1{
    font-size: 120px;
    letter-spacing: 8px;
}
.header-text h2{
    word-spacing: 2px;
}
.header-text h2 span{
    color: #ff1744;
    font-size: 55px;
    letter-spacing: 8px;
}
html{
    scroll-behavior: smooth;
}

/* <!-- -------------------about me section------------------- --> */


#about{
    padding: 80px 0;
    color: #ababab; 
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
    border: 3px solid ;
}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    margin-top: 4%;
    color: #fff;
}
.tab-title{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff1744;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.7s;
}
.tab-links.active-link::after{
    width: 100%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #ff1744;
    font-size: 16px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
.tab-contents ul li .co{
    color: #ababab;
    font-size: 14px;
    letter-spacing: 1px;
}
/* <!-- -------------------skills section------------------- --> */

/* #skills{
    padding-top: 5%;
} */
.skills-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.skills-list div{
    background : #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s,transform 0.5s;
}
.skills-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.skills-list div h2{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}
.skills-list div:hover{
    background: #ff1744;
    transform: translateY(-10px);
}

/* <!-- -------------------work section------------------- --> */

#mywork{
    padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-gap: 40px;
    /* border: 1px solid green; */
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    border: 3px solid #ff1744;
    /* position: relative;
    overflow: hidden; */
}
.work img{
    width: 100%;
    height: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /* display: block; */
    /* transition: transform 0.5s; */
}
/* .layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #3e3f45);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: 0.5s;
} */
.layer .btnl{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin: auto;
    margin: 10%;
    text-align: center;
    width: 120px;
    border: 1px solid #ff1744;
    padding: 14px 10px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    transition: 0.5s;
}
.layer .glink{
    display: flex;
    justify-content: center;
    align-items: center;
}
.layer .btnl:hover{
    background: #ff1744;
}
.layer h3{
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.layer h3+p{
    /* font-weight: bold; */
    /* font-size: 20px; */
    /* margin-top: 10px; */
    /* margin-bottom: 10px; */
    text-align: center;
    padding: 0px 3px;
}
/* .layer a{
    margin-top: 20px;
    color: #3e3f45;
    text-decoration: none;
    font-size: 32px;
    line-height: 65px;
    background: white;
    border-radius: 100%;
    margin-left: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
} */
.layer p+p{
    margin-top: 10%;
    text-align: center;
    font-weight: bold;
}
/* .work:hover img{
    transform: scale(1.1);
} */
/* .work:hover .layer{
    height: 100%;
} */

/* ----------------contact section------------------ */

.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #ff1744;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color:  #ababab;
    display: inline-block;
    transition: 0.5s;
}
.social-icons a:hover{
    color: #ff1744;
    transform: translateY(-5px);
}

/* ----------stats----------------- */
#stat{
    /* margin-top: 1%; */
    margin-bottom: 10%;
}
#stat h1{
    margin-bottom: 4%;
}
.stats{
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    gap: 20px;
    margin-bottom: 2%;
}
.stats img{
    width: 32%;
}


.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff1744;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    transition: 0.5s;
}
.btn:hover{
    background: #ff1744;
}
.btn.btn2{
    display: inline-block;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: white;
    font-size: 18px;
    border-radius: 6px;
}
#s{
    background: none;
}
#s:hover{
    background: #ff1744;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}
.copyright i{
    color: pink;
}

/* -------------tech stack------------------- */

.stack{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    /* margin-bottom: 5%; */
    /* min-height: 10vh; */
    /* background: white; */
}
.stack ul:last-child{
    margin-left: 40%;
}
.tech{
    position: relative;
    transform: skewY(-15deg);
}
.tech li{
    position: relative;
    list-style: none;
    width: 130px;
    background: #3e3f46;
    padding: 20px;
    transition: 0.5s;
    z-index: calc(1*var(--i));
}
.tech li:hover{
    transform: translateX(-50px);
    background: var(--clr);
}
.tech li::before{
    content: '';
    position: absolute;
    top: 0;
    left: -40px;
    width: 40px;
    height: 100%;
    background: #3e3f46;
    filter: brightness(0.7);
    transform-origin: right;
    transform: skewY(45deg);
    transition: 0.5s;
}
.tech li:hover::before{
    background: var(--clr);
    filter: brightness(0.7);
}

.tech li::after{
    content: '';
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    height: 40px;
    background: #3e3f46;
    filter: brightness(0.9);
    transform-origin: bottom;
    transform: skewX(45deg);
    transition: 0.5s;
}
.tech li:hover::after{
    background: var(--clr);
    filter: brightness(0.9);
}
.tech li a{
    text-decoration: none;
    color: #999;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    transition: 0.5s;
}
#techstack .til h2 span{
    color: #f49812;
}
.tech li:hover a{
    color: #fff;
}
.tech li:last-child::after{
    box-shadow: -120px 120px 20px rgb(67, 66, 66);
    /* border: 3px; */
}
.tech li span{
    position: absolute;
    top: 0;
    left: -40px;
    width: 40px;
    height: 100%;
    transform-origin: right;
    transform: skewY(45deg);
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    font-size: 1.25rem;
}
.tech li:hover span{
    opacity: 1;
}
#techstack .til{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    gap: 30%;
    margin-bottom: 7%;
    margin-top: 3%;
}


/* ------------------css for small screen---------------- */

nav .fas{
    display: none;
}

@media only screen and (max-width: 1300px){
    .header-text{
        margin-top: 16%;
        font-size: 30px;
    }
    .header-text h1{
        font-size: 74px;
        /* padding-top: 15%; */
    }
    .header-text h2{
        font-size: 35px;
        word-spacing: 2px;
    }
    .header-text h2 span{
        font-size: 40px;
    }

    nav .fas{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #ff1744;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    .btn{
        display: block;
        margin: 20px auto;
        width: fit-content;
        border: 1px solid #ff1744;
        padding: 15px 20px;
        border-radius: 6px;
        text-decoration: none;
        color: white;
        transition: 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    } 
    .stack{
        margin-bottom: 5%;
    }

}


@media only screen and (max-width: 930px){
    .header-text{
        margin-top: 17%;
        font-size: 30px;
    }
    .header-text h1{
        font-size: 74px;
        /* padding-top: 15%; */
    }
    .header-text h2{
        font-size: 35px;
        word-spacing: 2px;
    }
    .header-text h2 span{
        font-size: 40px;
    }

    nav .fas{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #ff1744;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    .btn{
        display: block;
        margin: 20px auto;
        width: fit-content;
        border: 1px solid #ff1744;
        padding: 15px 20px;
        border-radius: 6px;
        text-decoration: none;
        color: white;
        transition: 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    } 
    .stack{
        margin-bottom: 5%;
    }
}

@media only screen and (max-width: 800px){
    .header-text{
        margin-top: 28%;
        font-size: 20px;
    }
    .header-text h1{
        font-size: 64px;
        /* padding-top: 15%; */
    }
    .header-text h2{
        font-size: 35px;
    }
    .header-text h2 span{
        font-size: 40px;
        word-spacing: 4px;
    }
    .btn{
        display: block;
        margin: 20px auto;
        width: fit-content;
        border: 1px solid #ff1744;
        padding: 15px 20px;
        border-radius: 6px;
        text-decoration: none;
        color: white;
        transition: 0.5s;
    }
    nav .fas{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #ff1744;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .stack{
        margin-bottom: 5%;
    }

}

@media only screen and (max-width: 600px){
    #header{
        background-image: url(images/sergey-zolkin-_UeY8aTI6d0-unsplash.jpg);
        background-size:cover;
        background-attachment:scroll;
        background-position:top center;
    }
    .header-text{
        margin-top: 50%;
        font-size: 22px;
    }
    .header-text h1{
        font-size: 34px;
        /* padding-top: 15%; */
    }
    .header-text h2{
        font-size: 25px;
    }
    .header-text h2 span{
        font-size: 27px;
    }
    nav .fas{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #ff1744;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-title{
        font-size: 40px;
    }
    .about-col-1,.about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left,.contact-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 14px;
    }

    #techstack .til h2{
        font-size: 25px;
    }

    #techstack .tech li{ 
        width: 110px;
        font-size: smaller;
        padding: 15px;
    }
    #techstack .til h2{
        margin-bottom: 5%;
    }
    .stack ul:first-child{
        margin-left: 10%;
    }
    .stack ul:last-child{
        margin-left: 30%;
    }
    .layer p+p{
        font-size: 10px;
    }
    .layer p{
        font-size: 13px;
    }


    .btn{
        display: block;
        margin: 20px auto;
        width: fit-content;
        border: 1px solid #ff1744;
        padding: 10px 20px;
        border-radius: 6px;
        text-decoration: none;
        color: white;
        transition: 0.5s;
    }
    .stack{
        margin-bottom: 20%;
    }
}

@media only screen and (max-width: 400px){
    
    .header-text{
        margin-top: 48%;
        font-size: 15px;
    }
    .header-text h1{
        font-size: 54px;
        /* padding-top: 15%; */
    }
    .header-text h2{
        font-size: 24px;
        word-spacing: 5px;
    }
    .header-text h2 span{
        font-size: 29px;
    }
    .btn{
        display: block;
        margin: 20px auto;
        width: fit-content;
        border: 1px solid #ff1744;
        padding: 10px 10px;
        border-radius: 6px;
        text-decoration: none;
        color: white;
        transition: 0.5s;
    }
    
    #techstack .til h2{
        font-size: 15px;
    }
    #techstack .tech li{ 
        width: 90px;
        font-size: 10px;
        /* padding: 5px; */
    }
    #techstack .til h2{
        margin-bottom: 15%;
    }
    .stack ul:first-child{
        margin-left: 10%;
    }
    .stack ul:last-child{
        margin-left: 30%;
    }
    .stack{
        margin-bottom: 20%;
    }
}
